<div class="modal fade" id="job-filter-modal" tabindex="-1" aria-labelledby="job-filter-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="job-filter-modalLabel">Filter Jobs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
            <div class="form-group">
                <label for="m-job-title">Job Title</label>
                <input type="text" class="form-control" id="m-job-title">
            </div>
            <div class="form-group">
                <label for="m-type-dropdown">Job type</label>
                <select class="form-control" name="" id="m-type-dropdown">
                    <option value="Full Time">Full time</option>
                    <option value="Part Time">Part time</option>
                    <option value="Internship">Internship</option>
                    <option value="Work From Home">Work From Home</option>
                </select>
            </div>
            <div class="form-group">
                <label for="m-location">Location</label>
                <input type="text" class="form-control" id="m-location">
            </div>
            <button class="btn btn-dark m-search-filter-modal" type="button" data-dismiss="modal">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="small-header">
    <div class="container">
        <a href="https://jobsquare.com/post-a-job?utm_source=CLINIFY&utm_medium=affiliate_partner" target="_blank" class="notice-link">Click here to post about a job opening --></a>
    </div>
</div>
<section id="jobs-page">
    <div class="container">
        <h1 class="section-header">Find the right opportunity for you!</h1>
        <div class="filter-wrapper">
            <div class="web-filter">
                <input class="form-control border-left-curved job-title-input" type="text" placeholder="Skill eg:  Graphic Design">
                <select class="form-control side-borders job-type-select" name="" id="">
                    <option value="">Job type</option>
                    <option value="Internship">Internship</option>
                    <option value="Full Time">Full time</option>
                    <option value="Part Time">Part time</option>
                    <option value="Work From Home">Work from home</option>
                </select>
                <input class="form-control job-location-input" placeholder="Location" type="text">
                <button class="btn search-filter-btn">Search</button>
            </div>
            <div class="mobile-filter">
                <button class="btn filters-btn" data-toggle="modal" data-target="#job-filter-modal"><i class="fas fa-filter"></i> Filter Jobs</button>
            </div>
        </div>
        <div class="job-page-body">
            <div class="row job-cards">
            {{#each jobs}}
                <div class="col-md-6 col-lg-4 job-card-wrapper">
                    <div class="job-card internship">
                        <div class="top-grid">
                            {{#unless this.companyLogo}}
                            <img src="/assets/logos/company.svg" alt="" class="img-fluid company-logo">
                            {{/unless}}
                            {{#if this.companyLogo}}
                            <img src="{{this.companyLogo}}" alt="" class="img-fluid company-logo">
                            {{/if}}
                            <div class="company-name">{{this.companyName}}</div>
                            <div class="locations">{{this.locations}}</div>
                        </div>
                        <div class="bottom-grid">
                            <div class="job-title">{{this.title}}</div>
                            <span class="job-type">{{this.jobType}}</span>
                            <a class="btn apply-now-btn" href="{{this.jobUrl}}">Apply now</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <button class="btn load-more-btn">Load more</button> 
        </div>
    </div>
</section>


