<section id="jobs-page" class="layer">
    <div class="container">
        <div class="row">
            {{#each jobs}}
            <div class="col-md-6 col-lg-4 job-card-wrapper">
                <div class="job-card internship">
                    {{#unless this.companyLogo}}
                    <img src="/assets/logos/company.svg" alt="" class="img-fluid company-logo">
                    {{/unless}}
                    {{#if this.companyLogo}}
                    <img src="{{this.companyLogo}}" alt="" class="img-fluid company-logo">
                    {{/if}}
                    <div class="company-name">{{this.companyName}}</div>
                    <div class="locations">{{this.locations}}</div>
                    <div class="job-title">{{this.title}}</div>
                    <span class="job-type ">{{this.jobType}}</span>
                    <a class="apply-now-btn" href="{{this.jobUrl}}">Apply now</a>
                </div>
            </div>
            {{/each}}
            <div class="col-md-6 col-lg-4 job-card-wrapper">
                <div class="job-card internship">
                    <img src="/assets/logos/company.svg" alt="" class="img-fluid company-logo">
                    <div class="company-name">Paradise recruitment consultant services</div>
                    <div class="locations">Thane, Raigad, Nashik, Aurangabad, Jalgaon, Beed</div>
                    <div class="job-title">Android Developer</div>
                    <span class="job-type ">Internship</span>
                    <button class="apply-now-btn">Apply now</button>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 job-card-wrapper">
                <div class="job-card fulltime">
                    <img src="/assets/logos/company.svg" alt="" class="img-fluid company-logo">
                    <div class="company-name">Paradise recruitment consultant</div>
                    <div class="locations">Thane, Raigad</div>
                    <div class="job-title">Executive Assitant/Personal Assitant</div>
                    <div class="job-type">Full time</div>
                    <button class="apply-now-btn">Apply now</button>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 job-card-wrapper">
                <div class="job-card parttime">
                    <img src="/assets/logos/company.svg" alt="" class="img-fluid company-logo">
                    <div class="company-name">Paradise recruitment consultant solutions</div>
                    <div class="locations">Thane</div>
                    <div class="job-title">UI/UX Designer</div>
                    <div class="job-type">Internship</div>
                    <button class="apply-now-btn">Apply now</button>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="about-section">
                    <h6>About</h6>
                    <p>
                        Clinify is an innovation scout and support aggregator that aims
                        at building an entrepreneurial ecosystem, where every member
                        mutually benefits one another.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="quick-links">
                    <h6 class="">Quick Links</h6>
                    <ul class="list-unstyled">
                        <li><a href="#community">Community</a></li>
                        <li><a href="#events">Events</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#contact">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="newsletter">
                    <h6>Stay updated with our content</h6>
                    <p>
                        You can receive weekly and monthly newsletters and updates about
                        various events and happenings
                    </p>
                    <a href="https://bitly.com/skill-hub" target="_blank" class="btn subscribe">Subscribe</a>
                </div>
            </div>
        </div>
        <hr />
        <div class="credits">
            <p>
                Made with ❤️ by
                <a href="https://www.linkedin.com/in/vinitsarode" target="_blank">Vinit Sarode</a>
            </p>
            <p>&copy; Copyrights Clinify. All rights reserved.</p>
        </div>
    </div>
</footer>

<!-- <script src="../node_modules/lazysizes/lazysizes.min.js"></script> -->

<script>
    (function () {
        var qs,
            js,
            q,
            s,
            d = document,
            gi = d.getElementById,
            ce = d.createElement,
            gt = d.getElementsByTagName,
            id = "typef_orm_share",
            b = "https://embed.typeform.com/";
        if (!gi.call(d, id)) {
            js = ce.call(d, "script");
            js.id = id;
            js.src = b + "embed.js";
            q = gt.call(d, "script")[0];
            q.parentNode.insertBefore(js, q);
        }
    })();
</script>


<script src="https://kit.fontawesome.com/d1ef0ad67d.js" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>



<script src="./js/index.js"></script>