<div class="modal fade" id="job-filter-modal" tabindex="-1" aria-labelledby="job-filter-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="job-filter-modalLabel">Filter Jobs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
            <div class="form-group">
                <label for="m-job-title">Job Title</label>
                <input type="text" class="form-control" id="m-job-title">
            </div>
            <div class="form-group">
                <label for="m-type-dropdown">Job type</label>
                <select class="form-control" name="" id="m-type-dropdown">
                    <option value="">Full time</option>
                    <option value="">Part time</option>
                    <option value="">internship</option>
                    <option value="">Work from home</option>
                </select>
            </div>
            <div class="form-group">
                <label for="m-location">Location</label>
                <input type="text" class="form-control" id="m-location">
            </div>
            <button class="btn btn-dark m-search-filter-modal">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>


<section id="jobs-page" class="layer">
    <div class="container">
        <div class="filter-wrapper">
            <div class="web-filter">
                <input class="form-control border-left-curved job-title-input" type="text" placeholder="Job Title">
                <select class="form-control side-borders job-type-select" name="" id="">
                    <option value="">Job type</option>
                    <option value="Internship">Internship</option>
                    <option value="Full Time">Full time</option>
                    <option value="Part Time">Part time</option>
                    <option value="Work From Home">Work from home</option>
                </select>
                <input class="form-control job-location-input" placeholder="Location" type="text">
                <button class="btn search-filter-btn">Search</button>
            </div>
            <div class="mobile-filter">
                <button class="btn filters-btn" data-toggle="modal" data-target="#job-filter-modal"><i class="fas fa-filter"></i> Filter Jobs</button>
            </div>
        </div>
        <div class="row job-cards">
            {{#each jobs}}
            <div class="col-md-6 col-lg-4 job-card-wrapper">
                <div class="job-card internship">
                    <div class="top-grid">
                        {{#unless this.companyLogo}}
                        <img src="/assets/logos/company.svg" alt="" class="img-fluid company-logo">
                        {{/unless}}
                        {{#if this.companyLogo}}
                        <img src="{{this.companyLogo}}" alt="" class="img-fluid company-logo">
                        {{/if}}
                        <div class="company-name">{{this.companyName}}</div>
                        <div class="locations">{{this.locations}}</div>
                    </div>
                    <div class="bottom-grid">
                        <div class="job-title">{{this.title}}</div>
                        <span class="job-type">{{this.jobType}}</span>
                        <a class="btn apply-now-btn" href="{{this.jobUrl}}">Apply now</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="no-results-wrapper">
            <img src="/assets/illustrations/noresults.svg" class="img-fluid noresults" alt="no results found">
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="about-section">
                    <h6>About</h6>
                    <p>
                        Clinify is an innovation scout and support aggregator that aims
                        at building an entrepreneurial ecosystem, where every member
                        mutually benefits one another.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="quick-links">
                    <h6 class="">Quick Links</h6>
                    <ul class="list-unstyled">
                        <li><a href="#community">Community</a></li>
                        <li><a href="#events">Events</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#contact">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="newsletter">
                    <h6>Stay updated with our content</h6>
                    <p>
                        You can receive weekly and monthly newsletters and updates about
                        various events and happenings
                    </p>
                    <a href="https://bitly.com/skill-hub" target="_blank" class="btn subscribe">Subscribe</a>
                </div>
            </div>
        </div>
        <hr />
        <div class="credits">
            <p>
                Made with ❤️ by
                <a href="https://www.linkedin.com/in/vinitsarode" target="_blank">Vinit Sarode</a>
            </p>
            <p>&copy; Copyrights Clinify. All rights reserved.</p>
        </div>
    </div>
</footer>

<!-- <script src="../node_modules/lazysizes/lazysizes.min.js"></script> -->

<script>
    (function () {
        var qs,
            js,
            q,
            s,
            d = document,
            gi = d.getElementById,
            ce = d.createElement,
            gt = d.getElementsByTagName,
            id = "typef_orm_share",
            b = "https://embed.typeform.com/";
        if (!gi.call(d, id)) {
            js = ce.call(d, "script");
            js.id = id;
            js.src = b + "embed.js";
            q = gt.call(d, "script")[0];
            q.parentNode.insertBefore(js, q);
        }
    })();
</script>


<script src="https://kit.fontawesome.com/d1ef0ad67d.js" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
    {{!-- -- Axios -- --}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     {{!-- -- Mustache -- --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>




<script src="./js/index.js"></script>